/* Rofi config file */
configuration {
    // font: "Source Sans Pro 12";
    font: "JetBrainsMono Nerd Font 14";
    show-icons: true;
    display-window: "Window";
    display-drun: "Search";
}

// @theme "themes/oxide"
@theme "gruvbox-dark"

listview {
    lines: 6;
}
